.standardtext {
    text-align: center !important;
    transition: width 2s;
}

.textcolor{
    color: red !important;
    transition: width 2s;
    background: linear-gradient(#e98a00, #f5aa2f); 
    
}